h1 {
    background: red;
    color: #2c3e50;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}
p {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #34495e;
    margin: 10px 0;

}
section {
    color: browns;
}
nav a {
    color: rgb(109, 49, 49);
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
    margin: 10px 0;
}
#listas {
    text-align: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}
#enlaces {
    text-align: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}
#Formularios {
    text-align: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}
#Contenido{
    text-align: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}
article {
    background-color: #000305;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}
img, video {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}