{% extends "base.html" %}

{% block title %} Página de cartelera {% endblock %}

{% block content %}
    <div class="contenedor-formulario">
        
        <h2>{{ titulo }}</h2>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.nombre.label }}
                {{ form.nombre() }}
            </div>
            
            <div class="form-group">
                {{ form.descripcion.label }}
                {{ form.descripcion() }}
            </div>
            
            <div class="form-group">
                {{ form.cantidad.label }}
                {{ form.cantidad() }}
            </div>
            
            <div class="form-group">
                {{ form.precio.label }}
                {{ form.precio() }}
            </div>
            
            <div class="ticket-actions">
                
                <button type="submit" class="btn-icono-form btn-guardar-check" title="Guardar Película">
                    <i class="bi bi-check-circle"></i>
                </button>

                <a href="{{ url_for('productos') }}" class="btn-icono-form btn-cancelar-x" title="Cancelar">
                    <i class="bi bi-x-circle"></i>
                </a>

            </div>
            
        </form>
    </div>
{% endblock %}