<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de inventario</title>
</head>
<body>
    <header>
    <h1>Aplicación de Inventario</h1>
</header>

<nav>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de</a>
    <a href="/gestion_productos">Gestión de Productos</a>
    <a href="/inventario">Inventario</a>
    <a href="/datos">Datos (Semana 12)</a>
    <a href="/contacto">Contacto</a>
</nav>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2026 Aplicación de Inventario</p>
</footer>
</body>
</html>