<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de inventario</title>
</head>
<body>
    <header>
    <h1>Aplicación de Inventario</h1>
</header>

<nav>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de</a>
    <a href="/gestion_productos">Gestión de Productos</a>
    <a href="/inventario">Inventario</a>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2026 Aplicación de Inventario</p>
</footer>
</body>
</html>