{% extends 'base.html' %}

{% block title %}Eliminar Producto{% endblock %}

{% block content %}
<h2>Eliminar Producto por ID</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.id.label }}<br>
        {{ form.id() }}
        {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p>{{ form.submit() }}</p>
</form>
<p><a href="{{ url_for('inventario_index') }}">Regresar al menú</a></p>
{% endblock %}
